# Lattice Radiant files
fpga/*.html
fpga/impl*/
fpga/*.xml
fpga/.build_status
fpga/.run_manager.ini
fpga/.recovery
fpga/.spread_sheet.ini
fpga/.spreadsheet_view.ini
fpga/*.dir/
fpga/*.log
fpga/*.tcl
fpga/*.ccl
fpga/*.srp
fpga/*.dmp
fpga/._Real_._Math_.vhd

# Segger Embedded Studio
mcu/**/Output/
mcu/**/Debug/
mcu/*.emSession
mcu/*.jlink